<div style="postion:relative" data-role="page">

<div data-role="header" data-position="inline">
<h1>About</h1>  
  <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
    Menu
  </a>
</div>

<div>
<h1 style="text-align:center; font-size: 200%">About</h1>
<p>This app was created by Ryan Hilsabeck. The idea came into his
  head when he was staring at his bookshelf full of DVDs and was
  wanting a better way to store what was in his collection in
  a database. Another thought came to him about injecting some 
  fun. There are many times when he can't decide what to watch
  since he has 200 movies to choose from so he came up with 
  movie roulette where you let the app choose what movie you will
  watch. Have fun!</p>
  <p>The movie data behind this app is powered by the OMDB API, which
  is a free, open-source movie database web service</p>
</div>

</div>